<p>Salut <%= @candidate.first_name %>,</p>

<p>Bienvenue dans le réseau Iterato ! Ton profil est bien enregistré.</p>

<p>On te contacte dès qu'une belle opportunité correspond à ton profil !</p>

<p>En attendant :</p>

<ul>
  <li>Suis-nous sur LinkedIn pour ne rien rater : <a href="https://www.linkedin.com/company/iterato-agency/posts/?feedView=all-">LinkedIn Iterato</a></li>
  <li>On prépare des webinars sympas pour la rentrée, tu seras parmi les premiers informés !</li>
</ul>

<p>À très bientôt,<br>Clara - Iterato</p>
<p style="margin-top: 24px;">
  <img src="https://iterato.agency/icon.png" alt="Iterato" width="48" height="48" style="display: inline-block;">
</p>

