<p>Bonjour <%= @candidate.first_name %>,</p>

<p>Merci d'avoir rejoint la communauté Iterato ! Nous sommes ravis de vous compter parmi nous.</p>

<p>Nous reviendrons vers vous dès que nous aurons une opportunité correspondant à votre profil.</p>

<p>À bientôt,<br>L'équipe Iterato</p>
<p style="margin-top: 24px;">
  <img src="https://iterato.agency/icon.png" alt="Iterato" width="48" height="48" style="display: inline-block;">
</p>

