<p>Salut <%= @candidate.first_name %>,</p>

<p>Merci pour ta candidature au poste de <%= @candidate.profile_type %> ! On est super contents de la recevoir.</p>

<p>On va la lire avec attention et revenir vers toi sous 10 jours ouvrés. Si tu n'as pas de nos nouvelles passé ce délai, ça veut dire qu'on n'a pas donné suite cette fois - mais ton profil reste dans nos radars pour une prochaine opportunité qui matche.</p>

<p>En attendant, viens nous suivre sur LinkedIn : <a href="https://www.linkedin.com/company/iterato-agency/posts/?feedView=all-">LinkedIn Iterato</a></p>

<p>Clara - Iterato</p>
<p style="margin-top: 24px;">
  <img src="https://iterato.agency/icon.png" alt="Iterato" width="48" height="48" style="display: inline-block;">
</p>

