<p>Bonjour <%= @candidate.first_name %>,</p>

<p>Merci pour votre candidature ! Nous avons bien reçu votre dossier et nous l'étudions avec attention.</p>

<p>Nous reviendrons vers vous rapidement pour vous tenir informé de la suite du processus.</p>

<p>À bientôt,<br>L'équipe Iterato</p>
<p style="margin-top: 24px;">
  <img src="https://iterato.agency/icon.png" alt="Iterato" width="48" height="48" style="display: inline-block;">
</p>

